GPUtil==1.4.0
GPUtil==1.4.0
humanize==4.11.0
jax==0.4.32
matplotlib==3.8.0
numpy==2.2.3
optax==0.2.4
pandas==2.2.3
Pillow==9.4.0
Pillow==11.1.0
psutil==5.9.0
pyvista==0.43.0
PyYAML==6.0.1
PyYAML==6.0.2
scikit_learn==1.2.2
scipy==1.11.3
setuptools==68.0.0
stpyvista==0.1.4
streamlit==1.41.1
torch==2.1.2
torchvision==0.16.2
