MODEL_PARAM: 

  ## INN linear
  nmode : 10
  nelem : 10

  ## INN nonlinear
  s_patch : 2
  alpha_dil: 20
  p_order: 2  
  radial_basis : "cubicSpline" # Activataion functions
  # radial_basis : 'gaussian1'
  INNactivation : 'polynomial'
  # INNactivation : 'sinusoidal'
  # INNactivation : 'exponential'
  # INNactivation : 'sigmoid'
  # INNactivation : 'tanh'
  # INNactivation : 'gelu'

  ## MLP
  nlayers : 3
  nneurons : 100
  # activation : "relu"
  activation : "sigmoid"

DATA_PARAM:
  input_col : [0,1,2,3,4,5,6,7]
  output_col : [8]
  bool_normalize: True # whether we normalize the input data or not
  bool_random_split : True # whether we randomly split the data or not
  data_size: 1000_000
  split_ratio: [0.7,0.15,0.15]
  
TRAIN_PARAM:
  num_epochs_INN : 10
  num_epochs_MLP : 10
  batch_size : 128
  learning_rate : 1e-3
  bool_train_acc : False
  validation_period : 100 # if this is greater than num_epochs, validation will not be

PLOT:
  bool_plot: False
  plot_in_axis: [3,4] # plot input axis
  plot_out_axis: [0] # plot output axis