MODEL_PARAM: 
  nmode : 10
  nseg : 1
  
  ## MLP
  nlayers : 3
  nneurons : 100
  # activation : "relu"
  activation : "sigmoid"

DATA_PARAM:
  
  nclass : 10
  bool_data_generation : True # data is already stored and splitted
  split_ratio : [60000,10000]

  bool_normalize : True # whether we normalize the input data or not
  bool_image : True # this is not an image data
  bool_shuffle : False
  

TRAIN_PARAM:
  num_epochs_INN : 20
  num_epochs_MLP : 40
  batch_size : 128
  learning_rate : 2e-4
  bool_train_acc : False
  
  validation_period : 10
  bool_denormalize: False # or True, whether we denormalize when measuring errors
  error_type : "accuracy" 
  patience : 50

PLOT:
  bool_plot: False
  