MODEL_PARAM: 

  ## INN linear
  nmode : 10
  nseg : 20
  # nseg : [20,25]

  ## INN nonlinear
  s_patch : 2
  alpha_dil: 20
  p_order: 2  
  radial_basis : "cubicSpline" # Activataion functions
  # radial_basis : 'gaussian1'
  INNactivation : 'polynomial'
  # INNactivation : 'sinusoidal'
  # INNactivation : 'exponential'
  # INNactivation : 'sigmoid'
  # INNactivation : 'tanh'
  # INNactivation : 'gelu'

  ## MLP
  nlayers : 4
  nneurons : 50
  # activation : "relu"
  activation : "sigmoid"

DATA_PARAM:

  input_col : [0,1]
  output_col : [2]
  nclass : 2

  bool_data_generation : True # data is already stored and splitted
  split_ratio : [0.7,0.15,0.15]
  
  bool_normalize : True # whether we normalize the input data or not
  bool_image : False # this is not an image data
  bool_shuffle : True
  
  
TRAIN_PARAM:
  num_epochs_INN : 5
  num_epochs_MLP : 2000
  batch_size : 128
  learning_rate : 1e-1
  bool_train_acc : False # measure train accuracy
  
  validation_period : 10
  bool_denormalize: False # or True, whether we denormalize when measuring errors
  error_type : "accuracy" 
  patience : 50


PLOT:
  bool_plot: True
  plot_in_axis: [0,1] # plot input axis
  plot_out_axis: [2] # plot output axis
  